<div *ngFor='let publication of publications' class="card">
    <div class="card-body">
        <h5 class="card-title">{{publication.title}}</h5>
        <p class="card-text">{{publication.description}}</p>
        <p class="card-text">{{publication.price}} pesitos</p>
        <button (click)="share(publication)" class="btn btn-secondary">Share</button>
        <app-publication-alert 
            [publication]="publication"
            (notify)="onNotify()">
        </app-publication-alert>
    </div>
</div>